# Archivos de entorno (SECRETOS)
.env

# Dependencias (No se suben porque pesan mucho y se instalan con npm install)
node_modules/

# Logs de error
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema
.DS_Store
Thumbs.db

# Otros (opcional)
.vscode/
dist/